<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.mobiux.android.orca50scanner">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.UsbAccessory"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.LicenseActivity"></activity>
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.SampleActivity" />
        <activity android:name=".activity.SystemLogsManagementActivity" />
        <activity android:name=".activity.BuzzerSettingActivity" />
        <activity android:name=".activity.DeviceSettingsActivity" />
        <activity android:name=".activity.RFOutputPowerSettingActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.DataSyncSettingActivity"
            android:label="@string/label_data_sync" />
        <activity
            android:name=".activity.TransferAndAssignActivity"
            android:label="@string/label_transfer_assign" />
        <activity
            android:name=".activity.LocateAssetActivity"
            android:label="@string/label_locate_asset" />
        <activity android:name=".activity.ScanInventoryActivity" />
        <activity android:name=".activity.AssetInventoryActivity" />
        <activity android:name=".activity.HomeActivity" /> <!-- <activity android:name=".activity.SplashActivity" /> -->
        <activity android:name=".activity.InventoryDetailActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/orca_fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="in.mobiux.android.orca50scanner.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>